<button (click)="login()" type="button" *ngIf="!user" class="mdc-button mdc-button--raised">Login</button>
<button (click)="getMeInfo()" type="button" *ngIf="user" class="mdc-button mdc-button--raised">Show info about me</button>
<button (click)="logout()" type="button" *ngIf="user" class="mdc-button mdc-button--raised">Logout</button>
<h3 *ngIf="user">
  Hello, {{ user.name }}!
</h3>
<div class="wrapper" *ngIf="userInfo">
  <h4>
    {{ userInfo.givenName }}, these are your details:
  </h4>
  <ul>
    <li *ngIf='userInfo.surname'>Last Name: {{ userInfo.surname }}</li>
    <li *ngIf='userInfo.userPrincipalName'>Principal Name: {{ userInfo.userPrincipalName }}</li>
    <li *ngIf='userInfo.jobTitle'>Job Title: {{ userInfo.jobTitle }}</li>
    <li *ngIf='userInfo.mobilePhone'>Phone number: {{ userInfo.mobilePhone }}</li>
    <li *ngIf='userInfo.preferredLanguage'>Preferred Language: {{ userInfo.preferredLanguage }}</li>
    <li *ngIf='userInfo.id'>ID: {{ userInfo.id }}</li>
  </ul>
</div>

<strong *ngIf="loginFailed">
  Login unsuccessful
</strong>
<strong *ngIf="apiCallFailed">
  Graph API call unsuccessful
</strong>
